astroid==2.*
beautifulsoup4==4.*
bs4==0.*
click==8.*
isort==4.*
lazy-object-proxy==1.*
lxml==4.*
mccabe==0.*
numpy==1.*
openpyxl==3.*
pandas==1.*
Pillow==9.*
pylint==2.*
pytest==6.*
python-dateutil==2.*
pytz==2020.*
selenium==4.*
six==1.*
soupsieve==2.*
termcolor==1.*
toml==0.*
urllib3==1.*
webdriver-manager==3.*
wrapt==1.*
